eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://127.0.0.1:8761/eureka}
server:
  port: 8080
spring:
  main:
    web-application-type: reactive
  application:
     name: gateway-service
  data:
    redis:
      port: 6379
      host: 127.0.0.1
  security:
    oauth2:
      client:
        registration:
          gateway-service-oidc:
            provider: gateway-service
            client-id: gateway
            client-secret: gateway-secret
            authorization-grant-type: authorization_code,refresh_token
            redirect-uri: "http://127.0.0.1:8080/login/oauth2/code/{registrationId}"
            scope: openid,profile,offline_access
            client-name: gateway-service-oidc
        provider:
          gateway-service:
            issuer-uri: http://127.0.0.1:9000
      resourceserver:
        jwt:
          issuer-uri: http://127.0.0.1:9000
  cloud:
    gateway:
      server:
        webflux:
          enabled: true
          httpclient:
            connect-timeout: 10000
            response-timeout: 30s
            compression: false
          routes:
            - id: workflow-websocket
              uri: lb:ws://workflow-service
              predicates:
                - Path=/workflow-service/web-socket/**
              filters:
                - RewritePath=/workflow-service/(?<segment>.*), /workflow/${segment}
            - id: auth
              uri: lb://auth-service
              predicates:
                - Path=/auth-service/**
              filters:
                - RewritePath=/auth-service/(?<segment>.*), /${segment}
            - id: workflow
              uri: lb://workflow-service
              predicates:
                - Path=/workflow-service/**
              filters:
                - RewritePath=/workflow-service/(?<segment>.*), /workflow/${segment}
            - id: media
              uri: lb://media-service
              predicates:
                - Path=/media-service/**
              filters:
                - RewritePath=/media-service/(?<segment>.*), /media/${segment}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.springframework.security.oauth2: DEBUG
