EXPO_PUBLIC_AUTH_SERVER=http://127.0.0.1:9000
EXPO_PUBLIC_CLIENT_ID=workflow-mobile
EXPO_PUBLIC_REDIRECT_URI=com.takypok.workflow://oauth2redirect
EXPO_PUBLIC_SCOPES=openid profile offline_access
EXPO_PUBLIC_API_BASE_URL=http://localhost:8080
